.content {
    padding-top: 80px;
    padding-bottom: 40px;
}
.row {
    margin: 0 -15px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.content .post {
    width: 370px;
    height: 506px;
    margin: 0 15px 100px 15px;
}
.post-single {
    width: calc(100% - 300px);
    height: auto;
    margin: 0 15px 100px 15px;
}
.post-single__image {
    overflow: hidden;
    position: relative;
    border: 5px solid #f7f7f7;
}

.post__image {
    height: 300px;
    overflow: hidden;
    position: relative;
    border: 5px solid #f7f7f7;
}
.post__image img,
.post-single__image img{
    width: 100%;
}
.post__date {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #ff7f00;
    padding: 7px;
}
.post__date p {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.post__date-number {
    font-size: 23px;
}
.post__date-month {
    font-size: 14px;
    margin-top: 3px;
}
.post__content {
    position: relative;
    padding: 15px;
    background-color: #f7f7f7;
    height: 206px;
}
.post-single__content {
    padding-top: 49px;
    position: relative;
    height: auto;
}
.post__title {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.post__description {
    margin-top: 26px;
    color: #8b8b8b;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.post__description{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}
.button {
    padding: 7px 17px;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 12px;
    color: #222222;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #e6e6e6;
    outline: 0;
    cursor: pointer;
}
.button:hover {
    background: #ff7f00;
    border: 1px solid #ff7f00;
    color: #fff;
}
.button_m_auto {
    margin: 0 auto;
}
.post__info {
    position: absolute;
    bottom: 28px;
    width: calc(100% - 30px);
}
.post__info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__comments, .post__likes  {
    font-size: 12px;
    color: #8b8b8b;
    font-family: "Montserrat", sans-serif;
}
.post__comments img,
.post__likes img{
    margin-right: 10px;
}
.post-single__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 36px;
    border: 1px solid #efefef;
    border-radius: 18px;
    margin-right: 50px;
}
.post-single__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b8b8b;
    width: 36px;
    height: 36px;
}
.post-single__social a:hover {
    color: transparent;
    background-image: url("../images/share.png");
    background-size: 36px;
}
.post-single__info {
    display: flex;
    align-items: center;
    margin-top: 37px;
}
.post-single__tags {
    color: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.post-single__tags a {
    color: #8b8b8b;
    font-style: oblique;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.post-single__author {
    color: #8b8b8b;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 25px;
}
.post-single__author i {
    margin-right: 12px;
}

.search form {
    position: relative;
}
.search-submit {
    background: url('../images/loup.png') no-repeat center left;
    padding-left:30px;
    border: 0;
    width: 29px;
    height: 29px;
    position: absolute;
    right: -1px;
    top: 6px;
    cursor: pointer;
}
.search-input {
    height: 38px;
    width: 370px;
    border-radius: 19px;
    border: 1px solid #e6e6e6;
}
.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
input[type="text"]{
    padding-left: 20px;
    -webkit-appearance: none;
}
.content .search-submit {
    right: 5px;
}
.search-submit {
    -webkit-appearance: none;
}
/* постраничная навигация*/
.pstrnav {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}
.pstrnav ul {
    margin: 0 auto;
}
.pstrnav_bottom{
    margin-top: -15px;
    margin-bottom: 30px;
}
.pstrnav li {
    width: 30px;
    height: 25px;
    margin-left: 19px;
    float: left;
    margin-top: 1px;
}
.pstrnav a {
    display: block;
    text-decoration: none;
    font: bold 13px 'Open Sans', sans-serif;
    text-align: center;
    color: #8b8b8b;
    background: #fff;/* цвет кнопки */
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    border: 1px solid #D4D3D4;
}
.pstrnav a:hover{
    background: #ff7f00;/* цвет при наведении */
    color: white;
    box-shadow: none;
    border: 1px solid #ff7f00;
}
.pstrnav a:active{
    background: #ff7f00;/* цвет при нажатии */
    color: white;
}
.pstrnav a.pstr-active{
    background: #ff7f00;;/* цвет при наведении */
    color: white;
    box-shadow: none;
    border: 1px solid #ff7f00;
}
.pstrnav p.nav-point{
    text-align: center;
    font: bold 14px sans-serif;
    padding-top: 8px;
    padding-bottom: 0;
    display: block;
}
