.our-brands {
    padding-top: 64px;
    padding-bottom: 103px;
}
.our-brands__title {
    text-align: center;
    margin-bottom: 44px;
}
.our-brands__text {
    color: #0c0c0c;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 13px;
}
.our-brands {
    background: url("../images/Rectangle_53.png") no-repeat center;
    background-size: cover;
}
/* slider */
.slider__wrapper {
    width: 100%;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
}
.slider__carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.slider__carousel::-webkit-scrollbar {
    height: 0;
}
.slider__prev,
.slider__next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}
.slider__prev {
    top: 50%;
    left: -137px;
    transform: translate(50%, -50%);
    display: none;
}
.slider__next {
    top: 50%;
    right: -137px;
    transform: translate(-50%, -50%);
}
.slider__content {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}
.footer__devider {
    height: 91px;
    position: relative;
}
.devider__left {
    position: absolute;
    left: calc(50% - 466px);
    top: 36px;
}
.devider__right {
    position: absolute;
    right: calc(50% - 466px);
    top: 36px;
}
.block-form {
    display: flex;
    justify-content: center;
}
.footer__block-form {
    width: 570px;
    height: 165px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: calc(50% - 285px);
    top: -37px;
    background: white;
}
.block-form__title {
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}
.block-form__decoration {
    margin-top: 11px;
}
.block-form__input {
    width: 270px;
    height: 36px;
    border-radius: 20px 0 0 20px;
    border: #e6e6e6 1px solid;
    margin-right: -4px;
}
.block-form__button {
    width: 100px;
    height: 40px;
    border-radius: 0 20px 20px 0;
    background-color: #ff7f00;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    -webkit-appearance: none;
    border: solid 1px #ff7f00;
}
.block-form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: oblique;
}
.block-form__input::-moz-placeholder { /* Firefox 19+ */
    color: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: oblique;
}
.footer__info {
    background-color: #222222;
    padding-top: 97px;
}
.footer__info-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
    padding-bottom: 32px;
}
.column {
    width: 25%;
    position: relative;
}
.column > li:first-child::before {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    width: 15%;
    border-top: 1px solid #707070;
}
.column > li:first-child {
    margin-bottom: 47px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #8b8b8b;
}
.column > li:not(.column__title) {
    list-style-type: none;
    position: relative;
    margin: 2px;
    padding: 0  0 22px 12px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #8b8b8b;
}
.column > li:not(.column__contact) a:before {
    content: '';
    position: absolute;
    border-color: #8b8b8b;
    border-style: solid;
    border-width: 1px;
    background: #8b8b8b;
    border-radius: 50%;
    height: 3px;
    top: 17px;
    left: 0;
    margin-top: -1em;
    width: 3px;
}
.column > li:not(.column__title) a {
    color: #8b8b8b;
}
.column > li a:hover {
    color: #ff7f00;
}
.column > li a:hover:before {
    color: #ff7f00;
}

.column__contact {
    padding-left: 0 !important;
}
.column__contact:first-child > a {
    line-height: 2.5;
}
.footer__hr {
    color: #707070;
    width: 100%;
}
.footer__social {
    background-color: #222222;
    position: relative;
    height: 70px;
}
.footer__social ul {
    width: 163px;
    position: absolute;
    left: 0;
    top: 20px
}
.footer__social ul {
    display: flex;
    justify-content: space-between;
}
.footer__social ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b8b8b;
    border: #8b8b8b 1px solid;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-right: 24px;
}
.footer__social ul a:hover {
    color: #ff7f00;
    border-color: #ff7f00;
}
.footer__social img {
    position: absolute;
    right: 0;
    top: 25px;
}
.footer__anchor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #ff7f00;
    border: #8b8b8b 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0;
    width: 40px;
    height: 20px;
    right: calc(50% - 20px);
    bottom: 0;
}
.footer__anchor i {
    margin-top: 5px;
}
.footer__copy {
    background-color: #1c1c1c;
    padding: 31px;
}
.copy__right {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #8b8b8b;
    text-align: center;
}
.copy__right span {
    color: #ff7f00;
}

.footer__copy a:hover{
    color:red;
}
.footer__copy a:before{
    color:black;
    content:"virk";
}
.footer__copy a:hover:before{
    color:pink;
}
.column__contact_adress {
    margin-bottom: 22px !important;
}
.column__contact_adress span{
    position: absolute;
    left: 26px;
    line-height: 2.5;
    top: -11px;
}

.mobile-menu__button {
    display: none;
    position: absolute;
    top: 8px;
    left: -20px;
}
