.header__top {
    height: 40px;
    background-color: #f6f6f6;
    border-bottom: #dedede 1px solid;
}
.header__top-block {
    position: relative;
    padding-top: 12px;
}
.header__top-block a {
    color: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
.header__top-block a:not(.header__email) {
    margin-left: 15px;
}
.header__top-block .header__email {
    border-right: #e6e6e6 1px solid;
    padding-right: 15px;
}
.header__email i, .header__phone i {
    margin-right: 15px;
}
.header__top-block .header__phone {
    margin-right: 30px;
}
.header__top-block .header__account {
    position: absolute;
    right: 0;
    top: 13px;
}
.grey {
    color: #8b8b8b;;
}
.h-13 {
    font-size: 13px;
}
.h-20 {
    font-size: 20px;
}
.fa_pr {
    padding-right: 10px;
}
.d-flex {
    display: flex;
}
.header__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header__navigation {
    border-top: #e6e6e6 1px solid;
    padding: 21px 0;
}
.header__navigation nav ul{
    display: flex;
    justify-content: space-between;
}
.header__navigation nav ul a {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}
.header__navigation nav ul a:hover {
    color: #ff7f00;
}
.header__navigation nav {
    max-width: 620px;
}
.header__navigation .header__social {
    width: 163px;
    position: absolute;
    right: 0;
    top: 0
}
.header__navigation .header__social ul {
    display: flex;
    justify-content: space-between;
}
.header__navigation .header__social ul a {
    color: #8b8b8b;
}
.header__navigation .header__social ul a:hover {
    color: #ff7f00;
}
.header__navigation-block {
    position: relative;
}
.header__bottom {
    background: #525252;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__bottom p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 12px;
}
.header__bottom p a {
    color: #ff7f00;
}