/* responsive */
@media screen and (max-width: 1400px) {
    .slider__wrapper {
        max-width: 773px;
    }
    .slider__prev {
        left: -87px;
    }
    .slider__next {
        right: -87px
    }
}
@media screen and (max-width: 1170px) {
    .slider__wrapper {
        max-width: 570px;
    }
    .content, .header__top, .header__middle, .header__navigation, .footer__info {
        padding-left: 30px;
        padding-right: 30px;
    }
    .content .post {
        width: 30% !important;
    }
}
@media screen and (max-width: 992px) {
    .devider__left, .devider__right {
        display: none;
    }
    .content .post {
        width: 46% !important;
    }
    .header__social {
        display: none;
    }
    .footer__info-block {
        flex-wrap: wrap;
    }
    .column {
        width: 50%;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 768px) {
    .slider__prev, .slider__next {
        display: none;
    }
    .content .post {
        width: 100% !important;
    }
    .footer__social img {
        display: none;
    }
    .footer__anchor {
        right: 0;
    }
    .footer__block-form {
        left: 0;
        width: 100%;
    }
    .row_single {
        flex-direction: column;
    }
    .post-single {
        width: calc(100% - 30px) !important;
    }
    .sidebar {
        margin: 0 15px;
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .mobile-menu__button {
        display: block;
    }
    .column {
        width: 100%;
    }
    .block-form__input {
        width: 160px;
    }
    .header__email > span, .header__phone > span {
        display: none;
    }
    .header__top-block .header__email {
        padding-right: 0;
    }
    .header__middle {
        height: auto;
        padding: 30px;
        flex-direction: column;
    }
    .header .search {
        margin-top: 20px;
        width: 100%;
    }
    .search-input {
        width: calc(100% - 25px) !important;
    }
    .header__navigation-block {
        display: none;
    }
    .post__comments span,
    .post__likes span {
        display: none;
    }
    .header__top-block {
        padding-left: 26px;
    }
    .post-single__social {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .content .search-submit {
        right: -3px !important;
    }
    .footer__anchor {
        display: none;
    }
    .sidebar__shop-now {
        width: 260px;
    }
}