.sidebar {
    width: 270px;
}
.post-mini {
    display: flex;
    align-items: center;
}
.post-mini__image{
    width: 70px;
    height: 70px;
    background-color: #888888;
    margin-right: 16px;
}
.post-mini__image_empty {
    width: 70px;
    height: 70px;
    margin-right: 16px;
    background-color: #fff;
    border: 3px solid #f7f7f7;
}
.post-mini__image:hover{
    background-color: #ff7f00;
}

.post-mini__text a{
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #222222;
}
.post-mini__text a:hover{
    color: #ff7f00;
}
.post-mini__text p{
    margin-top: 10px;
    color: #8b8b8b;
    font-style: oblique;
}
.sidebar__shop-now {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 300px;
    background: #525252;
}
.sidebar__shop-now img {
    margin-bottom: 29px;
}
.post-mini_price {
    color: #ff7f00 !important;
    font-style: normal !important;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}
.post-mini_title {
    font-style: normal !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.sidebar__category {
    margin-top: 40px;
    padding-bottom: 27px;
    border-bottom: #ebebeb 1px solid;
    margin-bottom: 38px;
}
.sidebar__title {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: #222222;
    position: relative;
    margin-bottom: 40px;
}
.sidebar__title::before {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    width: 15%;
    border-top: 1px solid #e6e6e6;
}
.sidebar__category-lists a i {
    margin-right: 5px;
}
.sidebar__category-lists li {
    margin-bottom: 23px;
}
.sidebar__category-lists a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #8b8b8b;
    position: relative;
}
.sidebar__category-lists a:hover{
    color: #ff7f00;
}
.post-mini {
    margin-bottom: 30px;
}
.sidebar__posts {
    border-bottom: #ebebeb 1px solid;
    margin-bottom: 38px;
}