/*
Theme Name: One
Theme URI:
Author: kondratskiVD
Author URI:
Description: custom template
Version: 1.0.0
License: Public License
License URI:
*/

.w-1170 {
    max-width: 1170px;
    margin: 0 auto;
}
.grey {
    color: #8b8b8b;;
}
.h-13 {
    font-size: 13px;
}
.h-20 {
    font-size: 20px;
}
.fa_pr {
    padding-right: 10px;
}
.d-flex {
    display: flex;
}





.mobile-menu__list{
    position: fixed;
    z-index: 100;
    width: 230px;
    background: rgba(67, 67, 67, 0.95);
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #696969;
    display: none;
    padding-top: 30px;
}
.mobile-menu__list li {
    margin-bottom: 10px;
}
.mobile-menu__list li a{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.mobile-menu__list li a:hover {
    color: #ff7f00;
}